@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Tapestry&display=swap');
/* inicio cabezera*/
h1.logo {
	font-family: 'Tapestry', cursive;
	font-size: 75px;
	font-weight:normal;
	text-align: center;
	color: rgb(255,255,255);
	margin-bottom: 30px;
}

div#logo2 {
	height:100px;
	text-align: center;
}

img {
	width: auto; 
    max-height: 100%;
}
/* finalizo cabezera*/

/* inicio botonera*/
nav ul li {
	padding: 10px;
	text-align: center;
	margin-bottom: 50px;
}

nav ul li a, button {
	display: block;
	background: rgba(255, 255, 255, 1.0);
	font-family: "kaushan script", cursive;
	font-size: 25px;
	font-weight: bold;
	color: rgb(108,29,69);
	line-height: 48px;
	border: solid;
	border-radius: 15px;
}

nav ul li a:hover , button:hover{
	background: rgba(141, 27, 61,0.2);
	color: rgb(255, 255, 255);
}

nav ul li a.active{
	background: rgba(141, 27, 61,0.8);
	color: rgba(255, 255, 255,0.8);
}

/* finalizo botonera*/



/* inicio centro*/
table {
	width: 95%;
	/*border: 1px solid rgb(255, 255, 255);*/
	border-collapse: collapse;
	table-layout: auto;
	margin-bottom: 30px;
}

td, th {
	width: 25px;
	font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: top;
    caption-side: bottom;
    padding: 8px 0px 2px 0px;
    
}

tr.marcador{
	background: rgba(255, 255, 255,0.1);

}

td.info {
	font-size: 12px;
	color: rgb(192, 192, 192);
	text-align: center;
	font-style: oblique;

}

caption {
	text-align: center;
	font-weight: bold;
	padding: 0.3em;
 	color: rgba(141, 27, 61,1);
 	background: rgba(255, 255, 255,0.9);
 	width: 100%;
}
.imgizq, .imgder{
	width: auto;
	height: 1em;
	float: left;
	margin-right: 0.5em;
}
.imgder{
	float: right;
	margin-left: 0.5em;
}

.arg{
  color: #51d1f6;
}
/* finalizo centro*/

/* Inicio pie*/
.pie{
	position: fixed;
}
footer div {
	background: rgba(255, 255, 255,0.9);
	text-align: center;
	line-height: 50px;
	color: rgba(141, 27, 61,1);
}
footer div p a{
	color: rgb(0, 0, 0);
}

footer div p a:hover{
	color: rgb(244, 178, 150);
}

footer div p a:active{
	color: rgb(255, 0, 0);
}

footer div p span {
	font-family: 'Tapestry', cursive;
	color:rgb(108,29,69);
}
/* finalizo pie*/

/* solitaria */

.solitaria{
  margin: auto;
  align-items: center;
}

/* Contacto */
.form h2{
	font-size: 2em;
	color: rgba(255, 255, 255,0.9);
	font-family: "kaushan script", cursive;
	padding: 0.5em 0;
}
.form{
	text-align: center;
	margin: auto;
}
.form p{
	padding: 0.5em;
}

.form p:before{
	content: attr(type);
	display: block;
	color: rgba(255, 255, 255,0.9);
	font-family: "kaushan script", cursive;
}
.form input, .form .entrada3{
	height: 3em;
	width: 30em;
}

.form .entrada3{	
	height: 10em;
	resize: none;
}
.form button{
	width: 10em;
	margin: auto;
	margin-bottom: 2em;
	cursor: pointer;
}

.ganador{
  text-align: center;
  color: rgb(255, 255, 255);
}

.ganador h2{
  font-size: 5em;
}
.ganador img{
  width: 50%;
  height: auto;
}


@keyframes slideFondo{
	0%, 20%, 100%{
		opacity: 1;
	}
	30%, 90%{
		opacity: 0;
	}
	
}

#a, #b{
	position: absolute;
	width: 100%;
	height: 50vh;

}
#b{
	animation: slideFondo 8s linear 0s infinite;
}

.f{
    position: fixed !important;
    bottom: 0;
}